body {
  background-color: $c-background;
  color: $c-foreground;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;

  * {
    box-sizing: border-box;
  }
}

h1 {
  margin: 0;
  text-transform: uppercase;
  color: $c-primary;

  @media ($wide) {
    font-size: 6vh;
  }
}
